
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.nametext{
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
letter-spacing: 0.5px;
text-transform: uppercase;
text-align: center;
margin-top: 20px;
}

.generalText{
    margin-top: 10px;
    margin-right:100px;
    margin-left: 50px;
    font-size: 18px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 250;
}

.center{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.check{
  font-family: Arial, Helvetica, sans-serif;
    font-weight: 700; /* Peso de la fuente (negrita) */
    letter-spacing: 0.5px; /* Espaciado entre letras */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    font-size: 15px;
}
.cool-font {
   font-family: Arial, Helvetica, sans-serif;
    font-weight: 700; /* Peso de la fuente (negrita) */
    letter-spacing: 0.5px; /* Espaciado entre letras */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    font-size: 25px;
}

.container{
    height:  100vh;
    width: 100%;
    background: linear-gradient(45deg,#d2001a,#2d246e,#7b5226,#2d6969);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite; 
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.imageStyle {
    height: 300px;
    margin-right: 70px;
    border-radius: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.containerInfo{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    min-height: 150px;
    padding: 20px;
}
.logostyle{
  max-width: 150px;
  max-height: 150px;
  margin-left: 10px;
  margin-top: 48px;
}
.containerInfoWithImages {
  display: flex;
  align-items: flex-start;
}
.button-container{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    margin-top: 20px; 
}

.btn {
  margin-top: -20px;
 width: 80px;
 height: 80px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  margin-right: 10px; /* Espacio entre los botones */
}
  .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 30%;
  }
  /* glow */
  .btn::before {
    content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .btn:hover::before {
    opacity: 1;
  }
  
  .btn:active:after {
    background: transparent;
  }
  
  .btn:active {
    color: #000;
    font-weight: bold;
  }

  .logos{
    max-width: 80px;
    max-height: 80px;
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    }
    
    .skills-section {
      padding-top: 20px;
      margin-left: 200px;
  }
  
  .skills-header {
      text-align: center;
      margin-left: -190px;
      color: #fff;
      padding: 1rem;
      position: relative;
  }
  
  .skills-header:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 4px;
      background-color: #2ecc71;
      border-radius: 2px;
  }
  
  .skills-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      justify-content: center;
      align-items: center;
      text-align: center;
      grid-gap: 1rem;
      padding: 1rem 80px;
      font-size: 1.2rem;
      max-width: 1200px;
      width: 100%; /* Ajuste para centrar horizontalmente */
      margin: 0 auto; /* Ajuste para centrar horizontalmente */
  }
  
  .skills-box {
      padding: 1rem;
      color: #000;
      cursor: pointer;
  }
  
  .skills-box:hover > .skills-title:after,
  .skills-box:hover > .skills-title:before {
      width: 30px;
      transition: width 0.5s;
  }
  
  .skills-box:hover .skills-img {
      transform: translateX(-20px);
      transition: transform 0.5s;
  }
  
  .skills-title {
      display: flex;
      flex-direction: column;
      align-items: center; /* Centrar horizontalmente */
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      position: relative;
  }
  
  .skills-title:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 4px;
      border-radius: 2px 0 0 2px;
      background-color: #2ecc71;
      transition: width 0.5s;
  }
  
  .skills-title:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 4px;
      border-radius: 0 2px 2px 0;
      background-color: #2ecc71;
  }
  
  .skills-icons {
      width: 50px;
      z-index: 2;
  }
  
  .skills-img {
      width: 90px;
      height: 90px;
      position: relative;
      border-radius: 45px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s;
  }
  
  .skills-img:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 90px;
      background: rgba(100, 100, 100, 0.5);
      border-radius: 45px 0 0 45px;
  }
  
  .skills-title h3 {
      color: #1e1c1c;
      margin-top: 0.5rem;
  }
  
  @media screen and (max-width: 990px) {
      .skills-container {
          grid-template-columns: repeat(2, 1fr);
          padding: 2rem 50px;
      }
  }
  
  @media screen and (max-width: 650px) {
      .skills-container {
          grid-template-columns: 1fr;
          padding: 2rem 50px;
      }
  }